body{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", serif;
    color: #080808;
}
html{
  scroll-behavior: smooth;
}
.navbar-nav.me-auto{
    margin-left: auto!important;
    margin-right: 0px !important;
}
.space-left-right{
    padding: 0px 50px;
}
.logo-black{
  display: none;
}
.inner-page-banner .book-demo-content h6.specialization-in{
  font-size: 35px;
  margin: 30px 0px;
}
.navbar-expand-md .navbar-nav .nav-link{
    font-size: 20px;
    line-height: 26px;
    font-style: normal;
    font-weight: 500;
    padding: 15px 30px;
    color: #838383;
    text-align: center;
}
.navbar-expand-md .navbar-nav .nav-link:hover{
  color: #ff4c83;
}
.spaceleft-right{
    padding: 0px 40px;
}
.navbar-brand{
    position: relative;
    padding: 30px;
}
.navbar-brand img{
    position: relative;
    z-index: 20;
}
.navbar-brand:before{
    content: "";
    background-image: url("../images/logo-background.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 514px;
    height: 146px;
    z-index: 10;
    top: 0;
    left: 0;
}
.btn-style{
    color: #ffffff;
    background-color: #080808;
    font-size: 17px;
    padding: 20px 30px;
    border-radius: 12px;
}
.btn-style:hover{
  background-color: #ff4c83;
  color: #ffffff;
}
.btn.btn-style i{
    margin-left: 10px;
}
.search-style.text-bg-dark{
    background-color: #FAFAFA !important;
    height: 64px;
    border: 0px;
    padding: 0px 15px;
    width: 288px;
    border-radius: 12px;
    position: relative;
    color: #000000 !important;
}
.search-form-style{
    position: relative;
}
.search-form-style:before{
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    top: 0px;
    right: 15px;
    margin: auto;
    background-image: url(../images/search-icon.png);
    z-index: 10;
    bottom: 0px;
}
.form-control:focus{
    box-shadow:none;
}
.navbar{
    margin-top: 25px;
    padding: 0px;
}
.banner-section-wrapper{
    background-color: #00255B;
    padding: 0px 100px;
    border-radius: 0px 50px 50px 50px;
}
h1.banner-title{
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 0px;
    line-height: 80px;
    letter-spacing: 1px;
    position: relative;
}
h1.banner-title:before{
  content: "";
  width: 34px;
  height: 89px;
  background-image: url("../images/arrow-down.png");
  position: absolute;
  bottom: -68px;
  left: -60px;
}
.banner-image{
    margin-top: -50px;
}
.software-logos-wrapper ul{
    margin: 0px;
    padding: 40px 0px 0px;
    display: flex;
    justify-content: space-between;
}
.software-logos-wrapper ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
}
.gallery .tags-bar{
    justify-content: flex-end !important;
  }

  .gallery .nav-pills .nav-link.active,.gallery .nav-pills .show>.nav-link{
    background-color: #F5F5F5;
    color: #080808;
  }
  .gallery .nav-link{
    color: #080808;
    text-transform: capitalize;
  }
  .gallery-title{
    margin-bottom: -60px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .new-courses-section{
        padding-top: 60px;
        padding-bottom: 60px;
  }
  .modal-body img{
    width: 100%;
  }
  .gallery-item img{
    width: 100%;
  }
  .gallery-items-row.row{
    min-height: 500px;
  }
  .gallery-item-images{
    border-radius: 10px;
    overflow: hidden;
  }
  .course-info-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .course-info{
    font-size: 13px;
    color: #454545;
  }
  .course-info i{
    color: #bebebe;
  }
  .gallery-item-content{
    margin-top: 20px;
  }
  .gallery-item-content h6{
    color: #080808;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .gallery-item-footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .gallery-item-footer img{
    width: auto;
    width: 8px;
  }
  .gallery-item-footer .btn-style{
    padding: 10px 20px;
    font-size: 14px;
    line-height: 14px;
  }
  .gallery-item-footer h5{
    font-size: 16px;
  }
  .gallery-item{
    border: 1px solid #F1F1F1;
    border-radius: 12px;
    background-color: #FAFAFA;
    padding: 10px 10px 20px;
  }
  .book-demo-section{
    background-image: url("../images/bgg.jpg");
    background-size: cover;
  }
  .space-top-bottom{
    padding: 100px 0px;
  }
  .book-demo-section h2{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 700;
  }
  .book-demo-content ul li{
    color: #ffffff;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 5px;
  }
  .book-demo-content ul{
    margin-top: 20px;
  }
  .book-demo-content p{
    color: #ffffff;
    font-size: 19px;
    margin-bottom: 20px;
  }

  .landing-page-title h3.fusion-title-heading{
    font-size: 30px !important;
  }
  .landing-page-title-h4 h4.fusion-title-heading{
    font-size: 25px !important;
  }
  .stars span{
    color: #FF9E2A;
  }
  .stars{
    color: #ffffff;
  }
  .book-free-demo-form{
    text-align: center;
    color: #0B6BD9;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 40px;
  }
  .inner-page-banner .book-free-demo-form{
    max-width: 588px;
    position: relative;
  }
  .book-free-demo-form h2{
    color: #0B6BD9;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
  }
  .section-title-h2 h2 span{
    font-weight: 300;
  }
  .book-free-demo-form .form-control, .book-free-demo-form  .form-select{
    border: 1px solid #C5C5C5;
    background-color: #F4F8FB;
    height: 55px;
    border-radius: 10px;
  }
  .book-free-demo-form textarea.form-control{
    height: 227px;
  }
  .form-select:focus{
    box-shadow: none;
  }
  .book-free-demo-form .btn.btn-primary{
    background-color: #080808;
    border: 0px;
    width: 100%;
    height: 73px;
    font-size: 17px;
    border-radius: 12px;
    margin-top: 30px;
  }
  .book-free-demo-form .btn.btn-primary i{
    margin-left: 10px;
  }
  .limited-seats{
    position: absolute;
    right: -145px;
    bottom: 50px;
  }
  .instructor-image img{
    border-radius: 10px;
    width: 100%;
  }
  .instructor-image{
    overflow: hidden;
  }
  .instructor-info{
    display: flex;
    justify-content: space-between;
  }
  .instructor-info p{
    font-size: 12px;
    color: #dddddd;
    margin: 0px;
  }
  .instructor-info b{
    color: #3E3232;
    font-size: 13px;
    margin: 0px;
  }
  .instructor-box{
    margin-bottom: 20px;
    border: 1px solid #F1F1F1;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 12px;
  }
  .instructor-info{
    padding: 20px 5px 10px;
  }
  .section-title h3{
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 20px;
  }
  .section-title .btn.btn-style{
    margin-top: 20px;
  }
  .our-instructors-section-wrapper{
    background-image: url("../images/Instructor-bg.png");
    background-repeat: no-repeat;
    background-position: right;
  }
  .nine-instructor{
    text-align: right;
    margin-top: -85px;
    display: inline-block;
    margin-left: 10px;
  }
  .section-title span{
    background: -webkit-linear-gradient(#FAC1F1, #B176F2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .join-thriving-community-section .container-fluid{
    background-color: #0D99FF;
    border-radius: 50px 50px 0px 50px;
    padding:60px;
    background-image: url("../images/thriving-bg.png");
    background-position: right -150px;
    background-repeat: no-repeat;
    position: relative;
  }
 .join-thriving-text h2{
    font-size: 70px;
    line-height: 80px;
    color: #ffffff;
    font-weight: 700;
 }
 .join-thriving-text p{
    color: #ffffff;
    font-size: 24px;
    line-height: 38px;
    margin: 30px 0px 0px;
}
 .users-images{
  display: flex;
  align-items: center;
 }
 .users-images p{
  margin: 0px 20px;
  padding: 0px;
 }
 .users-images{
  margin-top: 50px;
 }
 .join-thriving-community-section{
  padding: 0px 40px;
  position: relative;
 }
 .thriving-feature{
  padding: 40px 60px;
  background-color: #FFFFFF;
  border-radius: 35px;
 }
 .numbering-section-wrapper{
  padding: 40px 0px;
 }
 .numbering p{
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 300;
  color: #414a57;
 }
 .numbering h3{
    color: #0B1727;
    font-size: 54px;
    font-weight: 600;
 }
 .read-more-shape{
  background-image: url("../images/shape.png");
  width: 605px;
  height: 145px;
  margin-top: -1px;
  position: relative;
 }
 .read-more-shape i{
    position: absolute;
    right: 40px;
    top: 20px;
    bottom: 0;
    margin: auto;
 }
 .read-more-shape-wrapper{
  position: absolute;
    right: 0px;
    bottom: -144px;
    top: auto;
    text-align: right;
 }
 .read-more-shape a {
  border-radius: 50px;
  background-color: #0B6BD9;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 40px;
  width: 300px;
  display: inline-block;
  text-align: left;
  font-size: 20px;
  margin-right: 40px;
  font-weight: 500;
  margin-top: 40px;
}
.section-title-h2 h2{
  font-family: "Roboto", serif;
  font-size: 50px;
  font-weight: 900;
  color: #000000;
  margin-bottom: 20px;
}
.space-top-100{
  padding-top: 100px;
}
.space-bottom-100{
  padding-bottom: 100px;
}
.voices-of-learners-title h3{
  font-family: "Poppins", serif;
  font-size: 52px;
  font-weight: 300;
}
.voices-of-learners-title p{
  color: #0B1727;
  font-family: "Poppins", serif;
  font-size: 27px;
  font-weight: 500;
}
.testimonial-container{
  position: relative;
  width: 667px;
  height: 381px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-thumbnail {
  position: relative;
  width: 667px;
  height: 381px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.video-element {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.circle-icons{
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.circle-icon {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  pointer-events: auto;
}
.icon1 { top: -15%; left: 0%; transform: translateX(-50%); }
.icon2 {
  top: -16%;
  right: -192px;
  transform: translateY(-55%);
}
.icon3 { bottom: 10%; left: 100%; right: 0%; transform: translateX(-90%); }
.icon4 {
  top: 25%;
  left: 140px;
  transform: translateY(80%);
}
.icon5 { top: 45%; left: -15%;}

.icon6{
  top: 0%;
  left: auto;
  right: 10%;
}

.testimonial-container-wrapper{
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
}
.voices-of-learners{
  padding-bottom: 150px;
}
.voices-of-learners-content{
  background-image: url("../images/dotted-circle.png");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}
.voices-of-learners-title{
  margin-bottom: 60px;
  position: relative;
}
.certification-day-section{
  margin-bottom: 100px;
}
.book-demo-class-section .book-free-demo-form{
  text-align: left;
  box-shadow: 0px 0px 10px 0px #dddddd;
  margin-bottom: 80px;
}
.book-demo-class-section .book-free-demo-form .btn.btn-primary{
    background-color: #0B6BD9;
    height: 68px;
    padding: 0px 60px;
    width: auto;
}
.book-demo-class-section label{
  color: #000000;
  font-size: 22px;
}
.book-demo-class-section .book-free-demo-form textarea.form-control{
  height: 227px;
}
.book-demo-class-section .book-free-demo-form .form-control,.book-demo-class-section .book-free-demo-form .form-select{
  font-size: 22px;
  height: 82px;
}
.contact-details-footer{
  /*background-image: url("../images/footer-bg.png");*/
  padding: 100px 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
}
.main-footer{
  position: relative;
}
.main-footer:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/footer-bg.png);
    background-size: cover;
    z-index: 0;
    margin: auto;
    left: 0;
    right: 0;
}
.clickon{
  font-size: 18px !important;
  color: #d3d3d3 !important;
}
.contact-details-footer h2{
  font-weight: 700;
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 40px;
}
.contact-info-title{
  margin-bottom: 10px;
}
.contact-info-title i{
  color: #ffffff;
  font-size: 27px;
}
.contact-info-title b{
  color: #ffffff;
  font-size: 27px;
  margin-left: 5px;
}
.contact-info p{
  color: #ffffff;
  font-size: 27px;
}
.contact-info p a{
  color: #ffffff;
  text-decoration: none;
  font-size: 27px;
}
.contact-info{
  margin-bottom: 35px;
}
.book-demo-class-section {
  position: relative;
}
.main-footer{
  position: relative;
}
.copyright-section{
  padding: 30px 50px;
}
.copyright-section p{
  margin-bottom: 0px;
}
.footer-social li{
  list-style: none;
  display: inline-block;
}
.footer-social li a{
  width: 68px;
  height: 68px;
  background-color: #ffffff;
  border-radius: 100px;
  box-shadow: 0px 0px 10px 0px #dddddd;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin: 0px 10px;
}
.footer-social li a:hover{
  background-color: #FF4C83;
  transition: all 0.3s ease-in-out 0s;
}
.footer-social li a:hover i{
  color: #ffffff;
}
.footer-social{
  text-align: right;
}
.footer-social li a i{
  color: #000000;
}
.footer-social ul{
  margin: 0px;
}
.voices-of-learners-title hr{
    width: 306px;
    height: 2px;
    background-color: #dddddd;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}
.thriving-feature p{
  margin-bottom: 0px;
}
.book-demo-class-section .form-check-input[type=checkbox]{
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.inner-page-banner .book-demo-content h2{
  color: #ffffff;
  font-size: 60px;
  line-height: 70px;
  font-weight: 800;
}
.inner-page-banner .book-demo-content h2 span{
  color: #FF4C83;
}
.inner-page-banner .book-demo-content h6{
  color: #ffffff;
  font-size: 20px;
}
.banner-section-wrapper.inner-page-banner{
  padding: 90px 40px;
}
.banner-section-wrapper.inner-page-banner .book-demo-content ul li{
  list-style: none;
  position: relative;
}
.banner-section-wrapper.inner-page-banner .book-demo-content ul li:before{
    content: '';
    width: 26px;
    height: 19px;
    background-image: url(../images/dots.png);
    position: absolute;
    left: -32px;
    top: 5px;
}
.banner-section-wrapper.inner-page-banner .book-demo-content ul ul li::before{
  width: 21px;
  background-size: 100%;
  height: 16px;
}
.banner-section-wrapper.inner-page-banner .mt-5{
  margin-top: 40px !important;
  padding-bottom: 0px;
}
.unique-course-section{
  background-image: url("../images/map.png");
}
.unique-course{
  border: 1px solid #E9E9E9;
  background-color: #ffffff;
  border-radius: 35px;
  padding: 40px;
  box-shadow: 0px 0px 10px 0px #dddddd;
  min-height: 275px;
}
.unique-course i{
  display: block;
  text-align: left;
  margin-bottom: 30px;
}
.unique-course h4{
  font-size: 24px;
  color: #000000;
  margin-bottom: 15px;
}
.unique-course p{
  margin-bottom: 0px;
}
.unique-courses .owl-carousel .owl-item img{
  width: auto !important;
}
.unique-courses .owl-stage-outer{
  padding: 40px 0px;
}
.unique-course-section .section-title-h2 h2{
  margin-bottom: 0px;
}
.video-container iframe{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
}

.video-container {
  position: relative;
  width: 640px;
  height: 360px;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  margin: 60px auto;
}

.video-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-container .play-button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 0, 127, 0.9);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-container .play-button::before{
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 20px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.video-container .title{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
}
.video-container iframe{
  display: none;
}
.course-content{
  border-radius: 20px;
  border: 1px solid #E9E9E9;
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 30px;
}
.course-content i{
  margin-right: 10px;
}
.course-content p{
  margin-bottom: 0px;
  font-size: 22px;
}
.course-content-section .section-title-h2 h2{
  margin-bottom: 50px;
}
.course-content-section{
  padding-bottom: 60px;
}
.about-the-course{
  background-color: #1D1D1D;
  position: relative;
}
.about-the-course-content{
  padding-right: 20px;
}
.col-lg-6.girl-image{
  width: 50%;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("../images/about-course.jpg");
  background-size: cover;
}
.about-the-course .section-title-h2 h2{
  color: #ffffff;
}
.about-the-course p{
  color: #ffffff;
}
.about-the-course h5{
  color: #ffffff;
  margin-bottom: 20px;
}
.course-feature-list{
  margin-top: 30px;
}
.about-the-course ul li{
  color: #ffffff;
}
.girl-image .img-fluid{
  height: 100%;
}
ul.arrow-list{
  margin: 0px;
  padding: 0px;
}
.arrow-list li{
  list-style: none;
  position: relative;
  padding-left: 25px;
  margin-bottom: 15px;
}
.arrow-list li:before{
  content: "";
  width: 18px;
  height: 18px;
  background-image: url("../images/right-arrow.png");
  position: absolute;
  left: 0px;
}
.about-the-course .btn.btn-style{
  margin-top: 20px;
}
.section-title-h2 h3{ 
  font-family: "Poppins", serif;
  font-size: 52px;
  font-weight: 300;
}
.sliding-section-container{
  display: flex;
  align-items: flex-start;
  margin-top: 30px;
}
.sliding-section-sidebar{
  position: sticky;
  top: 0;
  width: 287px;
  background-color: #ffffff;
  padding: 15px;
  /*height: 100vh;*/
  overflow-y: auto;
  box-shadow: 0px 0px 5px 0px #dddddd;
  border: 1px solid #E9E9E9;
  border-radius: 30px;
}
.sliding-section-sidebar ul {
  list-style: none;
  padding: 0;
}
.sliding-section-sidebar li{
  margin: 10px 0;
}
.sliding-section-sidebar a{
  text-decoration: none;
  color: #000000;
  transition: color 0.3s;
  font-size: 18px;
  font-weight: 600;
  background-color: #FAFAFA;
  border-radius: 10px;
  display: block;
  padding: 20px;
}
.sliding-section-sidebar a:hover{
  color: #ffffff;
  background-color: #000000;
}
.sliding-section-content{
  flex: 1;
  padding: 0px 60px;
  border: 1px solid #E9E9E9;
  border-radius: 20px;
  margin-left: 20px;
  height: 1700px;
  overflow: auto;
  scroll-behavior: smooth;
  box-shadow: 0px 0px 5px 0px #dddddd;
}
.sliding-section-content::-webkit-scrollbar{
  width: 13px;
}
.sliding-section-content::-webkit-scrollbar-track {
  /*box-shadow: inset 0 0 5px grey;*/
  border-radius: 10px;
  background-color: #DFDFDF;
}
/* Handle */
.sliding-section-content::-webkit-scrollbar-thumb {
  background: #0B6BD9; 
  border-radius: 10px;
}
/* Handle on hover */
.sliding-section-content::-webkit-scrollbar-thumb:hover {
  background: #0B6BD9;
}
.space-bottom-50{
  margin-bottom: 50px;
}
.sliding-section-content section h4{
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 700;
}
.sliding-section-content section h3{
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 20px;
}
.sliding-section-content section{
  padding: 60px 0px 0px;
}
.stop-wasting-time-section{
  background-color: #FF4C83;
  padding: 80px 0px;
}
.stop-wasting-time-section h2{
  color: #ffffff;
  font-size: 70px;
  font-weight: 900;
  text-transform: capitalize;
}
.stop-wasting-time-section p{
  color: #ffffff;
  font-size: 18px;
  line-height: 28px;
  margin: 20px 20px 40px;
  font-weight: 400;
}
.stop-wasting-time-section .btn-style{
  background-color: #0B6BD9;
}
.stop-wasting-time-section .btn-style:hover{
  background-color: #000000;
}
.section-title-h2 p{
  font-size: 27px;
  font-weight: 600;
}
.accordion-button:focus{
  box-shadow: none;
}
.accordion-button:not(.collapsed){
  background-color: #FF4C83;
  color: #ffffff;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("../images/circle-icon.png");
}
.accordion-button::after{
  background-image: url("../images/circle-icon.png");
}
.accordion-item{
  margin-bottom: 20px;
  border: 1px solid #ACACAC !important;
  border-radius: 17px !important;
    overflow: hidden;
}
.got-questions-section .section-title-h2{
  margin-bottom: 60px;
}
.accordion-button{
  font-size: 20px;
  font-family:"Poppins", serif;
  font-weight: 700;
  padding: 28px 20px;
}
.accordion-body{
  font-size: 18px;
  line-height: 34px;
}
.book-demo-content h4{
  color: #ffffff;
  font-size: 30px;
}
.uiux p{
  position: relative;
}
.uiux p:before{
  content: "";
  width: 34px;
  height: 89px;
  background-image: url(../images/arrow-down.png);
  position: absolute;
  bottom: -68px;
  left: -60px;
}
.ul-arrow{
  position: relative;
}
.ul-arrow:before{
  content: "";
  width: 34px;
  height: 89px;
  background-image: url(../images/arrow-down.png);
  position: absolute;
  bottom: -68px;
  left: -60px;
}
.book-free-demo-form-wrapper{
  position: relative;
}
.book-demo-content.uiux{
  padding-left: 40px;
}
.navbar-expand-md .navbar-nav .nav-link{
  padding: 15px 20px;
}
.bg-img-none {
  background-image: none !important;
}
.tools-you-master{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #5C5C5C;
  border-radius: 18px;
  padding: 0px 30px;
  flex-wrap: wrap;
  height: 150px;
  justify-content: center;
}
.tools-logo{
  width: 20%;
  padding: 0px 20px;
  text-align: center;
}
.tools-logo img{
  width: 100%;
  width: 200px;
}
.power-of-next-gen-section .section-title-h2 p{
  font-size: 18px;
  line-height: 32px;
  font-weight: normal;
}
.powerof-logo{
  margin-bottom: 15px;
}
.power-of-next-gen-section .col-lg-4{
  padding: 0px 8px;
}
.tools-logo-images .col-lg-2.col-md-3.col-6{
  margin-bottom: 20px;
}
.why-learn-wordpress-section .section-title-h2 p{
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}
.dotted-ul b{
  margin-bottom: 20px;
  display: block;
  font-size: 18px;
  line-height: 22px;
}
.dotted-ul ul li{
  font-size: 18px;
  line-height: 40px;
}
.dotted-ul ul{
  margin-bottom: 40px;
}
.why-learn-wordpress-section .section-title-h2 h2{
  margin-bottom: 30px;
}
.wp-image{
  overflow: hidden;
  border-radius: 40px;
}
.why-learn-wordpress-section .section-title-h2{
  margin-left: 50px;
}
.wordpress-courses .unique-courses .owl-stage-outer{
  padding: 60px 0px 0px;
}
.what-you-learn .section-title-h2 p{
  font-weight: 400;
}
.space-top-40{
  margin-top: 40px;
}
.why-learn-wordpress-section .wp-image img{
  width: 100%;
}
.ul-arrow b{
  color: #ffffff;
}
.white-b{
  color: #ffffff;
}
.thumbnail-twenty-percent{
  width: 20%;
}
.thumbnail-twenty-percent .unique-course{
    min-height: 234px;
    padding: 30px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.thumbnail-twenty-percent .unique-course h4{
  font-size: 22px;
  margin-bottom: 0px;
}
.thumbnail-twenty-percent i img{
  width: 100%;
}
@media only screen and (min-width:1920px){

  .container-fluid{
		  width: 1820px;
	}
  .container{
    max-width: 1512px;
  }
}
@media only screen and (max-width:1700px){

  .navbar.navbar-expand-md.navbar-dark .search-form-style{
    display: none;
  }
  h1.banner-title br{
    display: none;
  }
  .main-footer:before{
    width: 95%;
  }
  .icon4 {top: 55%; left: 45px; transform: translateY(80%);}
  .icon5{
    left: -19%;
  }
  .icon6{
    right: -3%;
  }
  .icon3{
    transform: translateX(-135%);
  }
}
@media only screen and (max-width:1600px){

  .limited-seats {
    display: none;  
  }
  .contact-details-footer{
    background-size: cover;
  }
}
@media only screen and (max-width:1440px){

  
  .section-title-h2 p{
    font-size: 22px;
  }
  .course-info {
    font-size: 12px;
  }
  .navbar-expand-md .navbar-nav .nav-link{
    padding: 15px 10px;
    font-size: 18px;
    line-height: 20px;
  }
  h1.banner-title{
    font-size: 40px;
    line-height: 65px;
  } 
  .navbar-nav.me-auto{
    margin-right: 20px !important;
  }
  .banner-section-wrapper{
    padding: 0px 40px;
  }
  .btn-style{
    padding: 15px 20px;
  }
  .banner-section-wrapper .mt-5{
    margin-top: 10px !important;
    padding-bottom: 40px;
  }
  .banner-image{
    margin-top: -0px;
  }
  .contact-details-footer{
    padding: 100px 0px 40px;
  }
  .contact-info p a{
    font-size: 22px;
  }
  .contact-info p{
    font-size: 22px;
  }
  .copyright-section {
    padding: 30px 50px 20px;
  }
  .video-thumbnail{
    width: 580px;
    height: 326px;
  }
  .testimonial-container{
    width: 580px;
    height: 326px;
  }
  .join-thriving-text h2{
    font-size: 60px;
    line-height: 70px;
  }
  .numbering-section-wrapper .row{
    width: 80%;
  }
  .numbering-section-wrapper{
    padding: 40px 0px 0px;
  }
  h1.banner-title:before{
    left: -35px;
  }
  .tools-logo img{
    width: 150px;
  }
  .thumbnail-twenty-percent .unique-course h4 {
    font-size: 18px;
  }
}
@media only screen and (max-width:1199px){

  .stop-wasting-time-section h2{
    font-size: 60px;
  }
  .unique-course{
    padding: 30px;
  }
  .navbar-expand-md .navbar-nav .nav-link{
    font-size: 16px;
  }
  .course-content p{
    font-size: 20px;
  }
  .spaceleft-right{
    padding: 0px 20px;
  }
  .btn-style{
    font-size: 16px;
    padding: 10px 15px;
  }
  .navbar-nav.me-auto {
    margin-right: 10px !important;
  }
  .navbar-expand-md .navbar-nav .nav-link{
    font-size: 14px;
    padding: 10px;
  }
  .navbar .btn-style{
    font-size: 14px;
  }
  h1.banner-title {
    font-size: 35px;
    line-height: 55px;
  }
  .course-info-wrapper{
    flex-wrap: wrap;
  }
  .course-info{
    margin-bottom: 5px;
  }
  .course-info-wrapper{
    margin-top: 10px;
  }
  .gallery-item-footer{
    flex-wrap: wrap;
  }
  .gallery-item-footer{
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .gallery-item-footer a{
    margin-bottom: 10px;
  }
  .book-demo-section .book-demo-content h2{
    font-size: 40px;
  }
  .join-thriving-text h2{
    font-size: 50px;
    line-height: 60px;
  }
  .join-thriving-text p br{
    display: none;
  }
  .thriving-feature{
    padding: 40px 40px;
  }
  .numbering h3{
    font-size: 30px;
  }
  .numbering-section-wrapper .row {
    width: 66%;
  }
  .numbering p{
    font-size: 18px;
  }
  .join-thriving-text p{
    font-size: 20px;
    line-height: 36px;
  }
  .testimonial-container{
    width: 480px;
    height: 277px;
  }
  .video-thumbnail {
    width: 480px;
    height: 277px;
  }
  .contact-info p a {
    font-size: 20px;
  }
  .contact-info-title b{
    font-size: 25px;
  }
  .contact-info-title{
    margin-bottom: 5px;
  }
  .book-demo-class-section label{
    font-size: 20px;
  }
  .book-demo-class-section .form-check-input[type=checkbox]{
    width: 20px;
    height: 20px;
  }
  .icon5 {
    left: -10%;
  }
  .icon2{
    right: -107px;
  }
  .icon6{
    top: 15%;
  }
  .icon3{
    transform: translateX(-50%);
    bottom: -10%;
  }
}
@media only screen and (max-width:1024px){

  .navbar .btn-style{
    display: none;
  }
  h1.banner-title{
    font-size: 30px;
    line-height: 50px;
  }
  .book-free-demo-form h2{
    font-size: 35px;
  }
  .contact-details-footer{
    padding: 100px 0px 0px 40px;
  }
  .contact-details-footer h2{
    font-size: 50px;
    margin-bottom: 30px;
  }
  .book-demo-class-section .book-free-demo-form .form-control, .book-demo-class-section .book-free-demo-form .form-select {
    font-size: 20px;
    height: 66px;
  }
  .book-demo-class-section .book-free-demo-form{
    margin-right: 40px;
  }
  .voices-of-learners{
    padding-bottom: 100px;
  }
  .unique-course h4{
    font-size: 20px;
  }
  .unique-course{
    padding: 20px;
  }
  .course-content p{
    font-size: 18px;
  }
  .course-content{
    padding: 15px;
  }
  .section-title-h2 h2{
    font-size: 40px;
  }
  .section-title-h2 h3{
    font-size: 42px;
  }
  .sliding-section-content section h4{
    font-size: 25px;
  }
  .sliding-section-content{
    padding: 40px;
  }
  .voices-of-learners-title h3{
    font-size: 42px;
  }
  .voices-of-learners-title p{
    font-size: 20px;
  }
  .stop-wasting-time-section h2{
    font-size: 50px;
  }
  .section-title-h2 p {
    font-size: 20px;
  }
}
@media only screen and (max-width:991px){

  .thumbnail-twenty-percent {
    width: 30%;
}
  .space-top-100.tools-you-master-section{
    padding-top: 70px;
  }
.tools-you-master{
  height: auto;
  padding: 25px 30px;
}
.col-lg-6.girl-image{
    display: none;
}
.tools-logo{
  width: 32%;
}
.banner-section-wrapper .mt-5{
    margin-top: 40px !important;
    padding-bottom: 0px;
}
h1.banner-title{
  margin-top: 40px;
}
.navbar-brand:before{
  width: 390px;
  height: 112px;
  background-size: 100%;
}
.navbar-brand{
  padding: 30px 30px 0px;
}
.navbar-brand img{
  width: 219px;
}
.book-demo-section .book-demo-content h2{
  font-size: 35px;
}
.book-free-demo-form{
  padding: 30px;
}
.join-thriving-text h2{
  font-size: 40px;
  line-height: 50px;
}
.users-images {
  margin-top: 30px;
  margin-bottom: 40px;
}
.numbering-section-wrapper .row{
  width: 100%;
}
.read-more-shape-wrapper{
  position: static;
}
.read-more-shape{
  height: auto;
}
.join-thriving-community-section .container-fluid{
  border-radius: 50px;
}
.certification-day-section.space-top-100{
  padding-top: 60px;
}
.section-title-h2 h2{
  font-size: 40px;
}
.certification-image{
  margin-bottom: 30px;
  text-align: center;
}
.certification-day-section {
  margin-bottom: 50px;
}
.voices-of-learners-title hr{
  display: none;
}
.video-thumbnail {
  width: 300px;
  height: 176px;
}
.testimonial-container {
  width: 300px;
  height: 176px;
}
.voices-of-learners-title{
  margin-bottom: 40px;
}
.voices-of-learners-title p{
  font-size: 20px;
}
.copyright-section p{
  text-align: center;
}
.footer-social{
  text-align: center;
  margin-top: 20px;
}
.our-instructors-section-wrapper .section-title{
  margin-bottom: 30px;
}
.our-instructors-section-wrapper.space-top-bottom{
  padding: 60px 20px;
}
.book-free-demo-form h2{
  font-size: 30px;
}
.icon1{
  top: 0%;
}
.icon2{
  top: 0%;
}
.icon6{
  top: 32%;
}
.icon4{
  top: 90%;
}
.inner-page-banner .book-demo-content h2{
  font-size: 50px;
  line-height: 60px;
}
.book-free-demo-form h2 {
  font-size: 25px;
}
.book-demo-content{
  margin-bottom: 50px;
}
.inner-page-banner .book-demo-content h2{
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 30px;
}
.banner-section-wrapper.inner-page-banner{
  padding: 60px 30px;
}
.about-the-course.space-top-100.space-bottom-100{
  padding: 70px 0px;
}
.Step-by-Step-Journey.space-top-100{
  padding-top: 70px;
}
.sliding-section-sidebar{
  position: static;
  margin-bottom: 40px;
}
.sliding-section-container{
  flex-direction: column;
}
.sliding-section-content{
  margin-left: 0px;
}
.sliding-section-sidebar{
  width: 100%;
}
.got-questions-section.space-top-100.space-bottom-100{
  padding: 70px 0px;
}
.circle-icon{
  width: 40px;
  height: 40px;
}
.icon2{
  right: 30px;
}
.icon5{
  top: 65%;
}
}
@media only screen and (max-width:767px){
  .space-top-100.what-learn{
    padding-top: 70px;
  }
  .why-learn-wordpress-section .section-title-h2{
    margin-left: 0px;
    margin-top: 30px;
  }
  .space-top-100.what-you-learn{
    margin-top: 70px;
  } 
  .power-of-next-gen-section.space-top-100{
    padding-top: 70px;
  }
  .space-top-100.why-learn-wordpress-section{
    padding-top: 70px;
  }
  .space-top-100.tools-you-master-section{
    padding-top: 60px;
  }
  .tools-logo{
    width: 50%;
    text-align: center;
  }
  .section-title-h2 p{
    font-size: 18px;
  }
  .inner-page-banner .book-demo-content h6.specialization-in {
    font-size: 25px;
    margin: 20px 0px;
  }
  .uiux p:before{
    left: -35px;
  }
  .book-demo-content.uiux{
    padding-left: 20px;
  }
  .course-content-section .section-title-h2 h2{
    margin-bottom: 20px;
  }
  .unique-courses .owl-stage-outer {
    padding: 40px 0px 20px;
  }
  .inner-page-banner .book-demo-content h2{
    font-size: 35px;
    line-height: 45px;
  }
  .banner-section-wrapper.inner-page-banner{
    padding: 40px 20px;
  }
  .book-free-demo-form .btn.btn-primary{
    height: 63px;
  }
  .unique-course-section.space-top-100{
    padding-top: 70px;
  }
  .navbar-nav.me-auto{
    margin-right: 0px !important;
    margin-top: 20px;
  }
  .numbering-section-wrapper .row .col-md-3{
    flex: 0 0 auto;
    width: 33.33333333%;
    text-align: center;
  }
  .navbar .navbar-toggler{
    margin-left: auto;
  }
  .navbar-expand-md .navbar-nav .nav-link{
    font-size: 18px;
    padding: 15px;
  }
  .banner-section-wrapper{
    border-radius: 30px;
  }
  .logo-white{
    display: none;
  }
  .logo-black{
    display: block;
  }
  .navbar-brand:before{
    display: none;
  }
  .navbar-brand{
    padding: 0px;
    margin-bottom: 0px;
  }
  .navbar{
    margin-bottom: 25px;
  }
  .navbar-toggler{
    background-color: #00255B;
  }
  .contact-details-footer{
    padding: 100px 0px 0px 0px;
  }
  .book-demo-class-section label{
    font-size: 18px;
  }
  .book-demo-class-section .book-free-demo-form{
    margin-right: 0px;
  }
  .gallery-title{
    margin-bottom:0px;
  }
  .book-demo-content{
    margin-bottom: 40px;
  }
  .join-thriving-community-section .container-fluid{
    padding: 40px;
  }
  .join-thriving-text h2 br{
    display: none;
  }
  .voices-of-learners-title h3{
    font-size: 32px;
  }
  .voices-of-learners-title p{
    font-size: 18px;
  }
  .voices-of-learners-title{
    text-align: center;
  }
  .new-courses-section{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .space-top-bottom{
    padding: 60px 20px;
  }
  .read-more-shape{
    width: auto;
  }
  .read-more-shape a{
    margin-right: 0px;
  }
  .read-more-shape i{
    right: 0px;
  }
  .icon6{
    right: -13%;
    top: 30px;
  }
  .certification-day-section{
    margin-bottom: 30px;
  }
  .main-footer:before{
    display: none;
  }
  .main-footer{
    background-color: #0D99FF;
  }
  .contact-details-footer{
    padding: 60px 0px 0px 0px;
  }
  .section-title-h2 h2 {
    font-size: 30px;
  }
  .footer-social ul{
    padding: 0px;
  }
  .video-container{
    width: 540px;
    height: 260px;
  }
  .unique-course{
    min-height: 240px;
    padding: 30px;
  }
  .section-title-h2 h3 {
    font-size: 32px;
  }
  .sliding-section-content section h4{
    font-size: 22px;
  }
  .voices-of-learners.space-top-100{
    padding-top: 70px;
  }
  .stop-wasting-time-section h2 {
    font-size: 40px;
  }
  .stop-wasting-time-section p br{
    display: none;
  }
  .book-demo-class-section .book-free-demo-form .btn.btn-primary{
    height: 58px;
  }
  .book-demo-class-section .book-free-demo-form .form-control, .book-demo-class-section .book-free-demo-form .form-select {
    font-size: 18px;
    height: 60px;
  }
  .book-demo-class-section .book-free-demo-form textarea.form-control{
    height: 127px;
  }
  .sliding-section-content{
    padding: 0px 20px;
  }
  .sliding-section-content section{
    padding: 40px 0px 0px;
  }
  .ul-arrow:before{
    left: -35px;
  }
  .tools-logo img{
    margin: 10px 0px;
  }
  .icon4{
    left: -8px;
  }
  .icon2{
    right: -25px;
  }
  .icon6{
    top: 50px;
  }
  .sliding-section-content section h3{
    font-size: 35px;
  }
  .thumbnail-twenty-percent {
    width: 40%;
  }
}
@media only screen and (max-width:575px){

  .thumbnail-twenty-percent {
    width: 50%;
  }
  .thumbnail-twenty-percent .unique-course{
    padding: 10px;
  }
  .thumbnail-twenty-percent .unique-course h4{
    font-size: 16px;
  }
  .thumbnail-twenty-percent .unique-course{
    min-height: 210px;
  }
  .inner-page-banner .book-demo-content h6.specialization-in{
    font-size: 20px;
    margin: 10px 0px;
  }
  .book-demo-content h4{
    font-size: 25px;
  }
  .inner-page-banner .book-demo-content h6{
    font-size: 16px;
  }
  .tools-you-master{
    padding: 20px;
  }
  .tools-logo img{
    width: 100px;
  }
  .sliding-section-content section h4{
    margin-bottom: 20px;
  }
  .power-of-next-gen-section.space-top-100{
    padding: 50px 10px 0px;
  }
  .sliding-section-content section h3{
    font-size: 30px;
  }
  .stop-wasting-time-section h2{
    font-size: 30px;
  }
  .voices-of-learners.space-top-100{
    padding-top: 60px;
  }
  .stop-wasting-time-section{
    padding: 60px 0px;
  }
  .Step-by-Step-Journey.space-top-100{
    padding-top: 40px;
  }
  .sliding-section-content section h4{
    font-size: 20px;
  }
  .sliding-section-sidebar a{
    font-size: 16px;
  }
  .course-content-section {
    padding-bottom: 40px;
  }
  .about-the-course.space-top-100.space-bottom-100{
    padding: 60px 0px;
  }
  .unique-course {
    min-height: 260px;
    padding: 30px 20px;
  }
  .video-container .title{
    font-size: 10px;
  }
  .unique-course-section.space-top-100{
    padding-top: 60px;
  }
  .inner-page-banner .book-demo-content h2{
    font-size: 30px;
    line-height: 40px;
  }
  .banner-section-wrapper{
    padding: 0px 20px;
  }
  .read-more-shape a{
    width: 100%;
  }
  .join-thriving-community-section{
    padding: 0px 20px;
  }
  .navbar-brand img{
    width: 150px;
  }
  h1.banner-title {
    margin-top: 30px;
  }
  h1.banner-title{
    font-size: 22px;
    line-height: 38px;
  }
  .gallery .nav-link{
    padding: 5px 10px;
    font-size: 16px;
  }
  .gallery .tags-bar{
    justify-content: center !important;
  }
  .book-demo-section .book-demo-content h2{
    font-size: 26px;
  }
  .book-free-demo-form{
    padding: 30px 20px;
  }
  .book-free-demo-form h2{
    font-size: 25px;
  }
  .book-free-demo-form .btn.btn-primary{
    height: 60px;
    font-size: 16px;
  }
  .stars{
    text-align: center;
  }
  .nine-instructor{
    display: none;
  }
  .book-demo-section{
    background-color: #0B6BD9;
    background-image: none;
  }
  .gallery-item-footer .btn-style{
    margin: 0px;
  }
  .gallery-item-footer h5{
    margin: 0px;
  }
  .join-thriving-community-section .container-fluid{
    padding: 40px 20px;
  }
  .join-thriving-text h2{
    font-size: 30px;
    line-height: 40px;
  }
  .join-thriving-text p{
    font-size: 18px;
    line-height: 32px;
    margin-top: 15px;
  }
  .users-images{
    flex-direction: column;
  }
.thriving-feature{
  padding: 30px 20px;
}
.read-more-shape img{
  width: 60px;
}
.read-more-shape i{
  bottom: -4px;
  top: auto;
}
.read-more-shape a{
  font-size: 18px;
  padding: 10px 25px;
}
.numbering h3{
  font-size: 24px;
}
.numbering p{
  font-size: 11px;
}
.certification-day-section.space-top-100 {
  padding: 40px 10px 20px;
}
.voices-of-learners-title h3{
  font-size: 30px;
}
.voices-of-learners-title p {
  font-size: 16px;
}
.circle-icon{
  position: static;
  transform: translate(0px, 0px) !important;
}
.circle-icons{
  position: static;
  width: 100%;
  height: 100%;
  transform: translate(0px, 0px);
  text-align: center;
  margin-top: 20px;
}
.testimonial-container-wrapper{
  flex-direction: column;
}
.voices-of-learners{
  padding-bottom: 40px;
}
.certification-day-section{
  margin-bottom: 0px;
}
.contact-details-footer{
  padding: 40px 0px 0px 0px;
}
.contact-details-footer h2{
  font-size: 40px
}
.contact-info p a{
  font-size: 16px;
}
.contact-info-title b{
  font-size: 22px;
}
.contact-info p {
  font-size: 16px;
}
.book-demo-class-section .book-free-demo-form .form-control, .book-demo-class-section .book-free-demo-form .form-select {
  font-size: 16px;
  height: 55px;
}
.book-demo-class-section .book-free-demo-form textarea.form-control{
  height: 127px;
}
.book-demo-class-section label{
  font-size: 14px;
}
.book-demo-class-section .form-check-input[type=checkbox]{
  width: 15px;
  height: 15px;
  margin-right: 0px;
}
.book-demo-class-section .book-free-demo-form .btn.btn-primary {
  height: 50px;
  padding: 0px 40px;
}
.contact-info-title b{
  font-size: 20px;
}
.contact-info-title i {
  font-size: 20px;
}
.copyright-section{
  padding: 30px 20px 20px;
}
.footer-social li a{
  width: 55px;
  height: 55px;
}
.contact-info{
  margin-bottom: 30px;
}
.book-demo-class-section .book-free-demo-form{
  margin-bottom: 60px;
}
.our-instructors-section-wrapper.space-top-bottom{
  padding: 40px 20px 30px;
}
.thriving-feature{
  border-radius: 25px;
}
.video-thumbnail{
  width: 280px;
  height: 160px;
}
.voices-of-learners-title{
  margin-bottom: 30px;
}
.accordion-button{
  font-size: 18px;
}
.video-container{
  width: 300px;
  height: 160px;
}
.got-questions-section.space-top-100.space-bottom-100{
  padding: 60px 0px;
}
}